<!--

######################
 HEADER
######################
|
| WHO AM I
|
######################
|
| PORTFOLIO ITEMS
|
######################
| CLOSINGS
|
-->
<div class="header">
    <h1>Hello, I'm Jacob Breen
    <span>I'm a Developer based in Toronto!</span>
    </h1>
</div>
<div class="content-wrapper">
    <div class="content">
        <div class="column-half">
            <h2>Web Developer</h2>
            <p>
                With experience in PHP, Python, MySQL, JavaScript, and various Linux distros. Along with technologies and frameworks such as <a href="http://laravel.com/">Laravel</a>, <a href="https://angularjs.org/">AngularJS</a>, and <a href="http://www.tornadoweb.org/en/stable/">Tornado</a> I have built many web projects / web applications over the years. And I strive to continue to learn new technologies and programming languages in my spare time.
            </p>
        </div>
        <div class="column-half">
            <h2>Game Developer</h2>
            <p>
                With my experience in C, C++, and UnrealScript, I've created/contributed to game patches/update. Mainly dealing with adding widescreen and/or multiple monitor support to old video games.
            </p>
        </div>
    </div>
    <!--
    <div class="content">
        <h2>Projects</h2>
        <div class="item">
            <div class="item-content project-name">
                <h4>Project Name</h4>
            </div>
            <div class="item-content project-desc">
                <p>Short description</p>
            </div>
            <div class="item-content project-link">
                <h4>View It</h4>
            </div>
        </div>
    </div>
    -->
</div>
<div class="footer">

</div>